body{
    background-color: black;
}
h1{
    color:white;
}
input:hover{
    text-decoration: underline;
    color:blue;
}
div{
    border:1px solid white;
    margin-top:400px;
    padding-bottom:10px;
    margin-left:600px;
    margin-right:600px;
}
